@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  max-width: 1280px;
  margin: auto;
  min-height: 90vh;
  padding: 10px;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Apply smooth scrolling and text rendering optimizations globally */
html {
  scroll-behavior: smooth; /* Enable smooth scrolling */
  font-feature-settings: "kern" 1; /* Enable kerning */
  -webkit-font-smoothing: antialiased; /* Improve text rendering on WebKit browsers */
  -moz-osx-font-smoothing: grayscale; /* Improve text rendering on Firefox on macOS */
}
/* scroll-behavior: smooth;: Enables smooth scrolling for anchor links and other scroll-related interactions.
font-feature-settings: "kern" 1;: Enables kerning, which adjusts the spacing between characters to improve readability.
-webkit-font-smoothing: antialiased;: Ensures that fonts are rendered more smoothly on WebKit-based browsers (like Chrome and Safari).
-moz-osx-font-smoothing: grayscale;: Improves text rendering on Firefox on macOS. */
