/* src/styles/overlay.css */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent grey background */
  z-index: 40; /* Make sure it's above other content but below modals */
  display: none; /* Hide by default */
}

.overlay.active {
  display: block;
}
